<% if @user%>
  <h4 class="u-pull-left">@<%= @user%></h4>
<% end %>
<% if !@sess%>
  <form action="/login" method="get">
    <input class="button button-primary u-pull-right" style="margin-left: 5px;" type="submit" value="Login">
  </form>
  <form action="/register" method="get">
    <input class="button button-primary u-pull-right" type="submit" value="Register">
  </form>
<% else %>
  <div class="two column" style="margin-left: 0px;">
    <form class="" action="/session/destroy" method="post">
      <input type="submit" class="u-pull-left" value="Log Out">
    </form>
  </div>
<% end %>
<div class="">
  <h1 align="center">Welcome To Chitter!</h1>
</div>
<div class="container">
  <div class="section hero">
    <div class="container">
      <div class="">
        <section>
          <form action="/peep" method="post">
            <% if @sess %>
              <div class="">
                <div class="flash">
                  <%= flash[:notice]%>
                </div>
                <textarea class="u-full-width" name="content" rows="12" cols="50" placeholder="What are you doing?!!" maxlength="255"></textarea>
              </div>
              <input class="button-primary u-pull-right" type="submit" value="Peep">
            <% else %>
              <div class="">
                <div class="flash">
                  <%= flash[:notice]%>
                </div>
                <textarea class="u-full-width" name="content" rows="12" cols="50" placeholder="Register or Login for put a peep" disabled="disabled"></textarea>
              </div>
            <% end %>
          </form>
        </section>
      </div>
      <div class="column peep-container">
        <% if @peeps%>
          <% for peep in @peeps%>
            <div class="row">
              <div class="eleven columns">
                <div class="peep">
                  <p class="user">@<%= peep.user%>
                    at
                    <%= peep.email%></p>
                  <div class="u-pull-right">
                    <%= peep.date%>
                  </div>
                  <p class="left"><%= peep.content %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
